<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>GESTANP</h1>
    <h2>
      Bem vindo ao GESTANP. Gerencie suas atividades de maneira rápida e prática </h2>
    <%= link_to "Logar!", signin_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>