<% if signed_in? %>
  <footer class="footer">
    <small>
      Sistema de Gestão da Medição, por 
      <a href="http://www.strack.com.br/">Strack Consultoria</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "Reporte um Problema",   reporte_problema_path %></li>
        <li><%= link_to "Solicite uma Melhoria", solicite_melhoria_path %></li>
      </ul>
    </nav>
  </footer>
<% end %>